@media only screen and (min-width: 600px) {
    .advocate-info-root-panel,
    .homePage-did-set,
    .advocate-bio-root-panel,
    .meetings-panel {
        padding: 0 10% 0 10%!important;
    }
    .homePage-did-set {
        width: 90%!important;
    }
    .advocate-info-avatar-panel {
        flex-direction: row!important;
    }
    .advocate-info-root-panel {
        flex-direction: row!important;
        height: 80px!important;
    }
    .advocate-info-title-panel {
        align-items: flex-start!important;
    }

}
.advocate-detail-root-panel {
    background: white;
}

.advocate-follow-button {
    display: flex!important;
    width: 160px!important;
    justify-content: flex-start!important;
    z-index: 9999!important;
}
.twitter-follow-button-div {
    display: flex!important;
    align-items: center;
}
.github-follow-button-div {
    display: flex!important;
    align-items: center;
}
.github-follow-button-div > iframe {
    margin-right: 16px!important;
}
.follow-btm-panel {

}
.follow-button {
    min-width: 50px!important;
    width: 80px!important;
    margin-right: 12px!important;
    margin-top: 12px!important;
}
.follow-button > button {
    height: 25px !important;
    line-height: 25px !important;
}
.follow-button > button > div > div > span {
    font-size: 10px!important;
    font-weight: 600!important;
    padding: 0!important;
}
.homePage-did-not-set {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: grey;
    background-color: white;
    margin: 30% 10% 0 10%;
    text-align: center;
}
.homePage-did-set {
    background-color: white;
}
.meetings-panel {
    background-color: white;
}
/* Info Panel Styles */
.advocate-info-root-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
}
.advocate-info-likes-panel {
    display: flex;
    align-items: center;
}
.advocate-info-avatar-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.advocate-info-avatar-panel > img {
    margin: 16px;
}
.advocate-info-sm-panel {
    display: flex;
}
.advocate-info-title-panel {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Bio Panel Styles */
.advocate-bio-root-panel {
    padding: 0 16px 0 16px;
}
.advocate-bio-position-content {
    font-size: 15px;
}
.advocate-bio-position-content::before {
    content: '\2022';
    margin: 0 5px;
}