.admin-home-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meeting-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
}