@media only screen and (min-width: 600px) {
    .info-checker-inner-content {
        margin: 0 8%;
    }
}
.info-checker-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-checker-content {
    width:100%;
    display: flex;
    justify-content: center;
}
.info-check-button-group {
    width: 100%;
    position: sticky!important;
    bottom: 0;
    margin-top: 5%;
}
.twitter-form-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}