.advocate-info-app-bar {
    position: sticky!important;
    top:0;
}
.advocate-follow-button {
    display: flex!important;
    width: 160px!important;
    justify-content: flex-start!important;
    z-index: 9999!important;
}
.twitter-follow-button-div {
    display: flex!important;
    align-items: center;
}
.github-follow-button-div {
    display: flex!important;
    align-items: center;
}
.github-follow-button-div > iframe {
    margin-right: 16px!important;
}
.follow-button {
    min-width: 50px!important;
    width: 80px!important;
    margin-right: 12px!important;
    margin-top: 12px!important;
}
.follow-button > button {
    height: 25px !important;
    line-height: 25px !important;
}
.follow-button > button > div > div > span {
    font-size: 10px!important;
    font-weight: 600!important;
    padding: 0!important;
}