.st0{fill:#F05125;}
.st1{fill:#7FBB42;}
.st2{fill:#FDB813;}
.st3{fill:#32A0DA;}
.app-header {
    display: flex;
    align-items: center;
    position: sticky!important;
    top:0;
}
.icon {
    margin-left: 10px;
    margin-right: 10px;
}
.azure-content {
    padding: 10px;
    display: block;
    overflow: auto;
}
.azure-content-card-style {
    margin-top: 10px;
    margin-bottom: 10px;
}
.free-account-button {
    width:100%!important;
    position: sticky!important;
    top: 0;
    z-index: 9999;
}
.free-account-button > button {
    background-color: #8BC34A!important;

}
.free-account-button > button > div > div > span {
    text-transform: inherit!important;
    font-size: 18px!important;
}