@media only screen and (min-width: 600px) {
   .tab-panel {
        padding: 0 10% 0 10%;
        background-color: white;
    }
    .tab-home {
        width: 90%!important;
    }
    .tab-panel > div > div {
        width: 30%!important;
    }
    .tab-panel > div > div:nth-child(2) {
        width: 30%!important;
    }

}
.tab-home {
    width: 100%;
    background: content-box!important;
}
.tab-home > div > div:nth-child(2) > div {
    background-color: white!important;
}
.tab-panel {
    background-color: white;
}
.content-taps > div {
    background: content-box;
    background-color: inherit!important;
}
.content-taps > div > button {
    font-size: 12px!important;
    max-height: 45px!important;
    color: #00bcd4!important;
    font-weight: 600!important;
}