@media only screen and (min-width: 600px) {
    .tab-panel-home {
        padding: 0 5% 0 5%;
        background-color: white;

    }
    .tab-panel-home > div > div > button {
        width: 15%!important;
    }
    .tab-panel-home > div > div:nth-child(2) {
        width: 30%!important;
    }

}
.tab-panel-home {

}
.tab-panel {

}
.content-taps {
 }
.content-taps > div {
    background-color: white!important;
}
.content-taps > div > button {
    font-size: 12px!important;
    max-height: 45px!important;
    color: #00bcd4!important;
    font-weight: 600!important;
}
.content-taps > div > button > div > div {
    height: 45px!important;
}
.content-content {
    font-size: large;
    font-style: oblique;
    color: grey;
    display: flex;
}
.slick-dots {
    position: relative!important;
    bottom: 0!important;
}