.content-taps {
}
.content-taps > div {
    background-color: white!important;
    position: sticky!important;
}
.content-taps > div > button {
    font-size: 12px!important;
    max-height: 45px!important;
    color: #00bcd4!important;
    font-weight: 600!important;
}
.content-taps > div > button > div > div {
    height: 45px!important;
}
.content-content {
    font-size: large;
    font-style: oblique;
    color: grey;
    display: flex;
}
.slick-dots {
    position: relative!important;
    bottom: 0!important;
}