.bar-panel {
    position: sticky!important;
    top: 0;
    z-index: 400;
    background-color: white;
    width:100%;
}
.bar-panel > hr {
    margin: 0!important;
}
.bar-paper {
    display: flex;
    align-items: center;
    height: 55px!important;
    justify-content: space-between;
}
.logo-panel {
    display: flex;
    align-items: center;
    margin-left: -50px;
}
.logo-panel > span {
    font-size: 18px;
    font-weight: 500;
}
.logo-panel > button {
    padding: 0!important;
}
.admin-bar-paper {
    justify-content: space-between;
}
.admin-dark-bar {
    color: white!important;
    background-color: black!important;
}
.admin-bar-avatar {
    display: flex;
    align-items: center;
    min-width: 55px;
}
.admin-logo-panel-with-avatar {
    margin-left: 20px!important;
}