.home-background-div {
    background-color: #F5F5F5;
}
.home-app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky!important;
    top: 0;
    z-index: 9999;
    justify-content: center;
    background-color: white;
}
.home-logo-div {
    display: flex!important;
    align-items: center;
}
.home-title {
    font-size: 20px!important;
    color: #00BCD4!important;
    margin: 0 0 0 5px;
}
.home-subtitle {
    margin: 0 0 0 5px;
    font-size: 13px!important;
    color: lightslategrey;
}
/* search bar outter div */
.home-app-header > div {
    width: 90%;
    margin: 10px;
    height: 40px!important;
}
/* search bar inline div */
.home-app-header > div > div > div > div {
    height: 40px!important;
    font-size: 14px!important;
    line-height: 14px!important;
    width: 100%;
}
/* search bar icon button */
.home-app-header > div > button {
    padding: 9px!important;
    padding-right: 12px!important;
    height: 40px!important;
}
.home-activity-shows {
    height: 170px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
    line-height: 170px;
}
.top-advocates-panel {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    overflow-x: scroll!important;
}
.top-advocates-title {
    font-size: 16px;
    margin: 0;
    color: grey;
    padding: 10px;
}
.home-advocates-list {
    margin-top: 10px;
    background-color: white;
}
.home-aspects-subheader {
    display: flex!important;
    align-items: center;
}
.home-aspects-subheader > button > div > span {
    font-size: 12px!important;
    text-transform: capitalize!important;
}