/*CSS Transition Animation*/
.mobile-home-bar-enter {
    opacity: 0;
}

.mobile-home-bar-enter.mobile-home-bar-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.mobile-home-bar-leave {
    opacity: 1;
}

.mobile-home-bar-leave.mobile-home-bar-leave-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
.mobile-home-bar-height {
    transition: height .5s ease-in-out;
}