.introduce-panel {
    overflow: auto;
}
.introduce-carousel-panel {
    width: 100%;
    min-height: 0;
    min-width: 0;
}
.introduce-carousel-text-panel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    color: white;
    width: 100%;
    padding: 10px;
}