.introduce-panel {
    overflow: auto;
}
.introduce-carousel-panel {
    width: calc(100% - 32px)!important;
    min-width: calc(100% - 32px)!important;
    padding: 0 16px 0 16px;
}
.introduce-carousel-text-panel {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    color: white;
    width: 100%;
    padding: 10px;
}
.card-header > div {
    padding-right: 0!important;
}