@media only screen and (min-width: 600px) {
    .meeting-detail-root-panel { padding: 0 8% 0 8%; }
    .resource-panel, .introduce-panel, .recommended-panel {
        padding: 0 5% 20px 5%!important;
    }
    .meeting-speaker-panel {
        padding: 0 5% 0 5%!important;
    }
    .azure-content {
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .azure-content-card-style {
        width: 65%;
    }
}
.meeting-speaker-panel {
    background-color: white;
}
hr {
    border-top: #9e9e9e;
    width: 100%;
}
.meeting-detail-root-panel {
    background-color: #e6e6e6;
}
.meeting-content-panel {
    margin-top: 5px;
    height: 20px!important;
    font-size: 10px!important;
}
/*.meeting-speaker-panel {
    align-items: center;
    padding-top: 10px!important;
}
.meeting-speaker-panel > div > div > img {
    top: 8px!important;
}
.meeting-speaker-panel > div {
    display: flex;
    flex-direction: column;
}
.meeting-speaker-panel > div > div > svg {
    top: 0!important;

}*/
.meeting-app-bar {
    align-items: center;
    padding-right: 30px!important;
    height: 55px!important;
    position: sticky!important;
    top:0;
}
.meeting-app-bar > div {
    margin-top: 5px!important;
}
.meeting-app-bar > h1 {
    font-size: 16px!important;
    font-weight: normal!important;
    padding-top: 3px!important;
}
/* introduced page */
.introduce-panel {
}
.introduce-carousel-panel {
    width: calc(100% - 32px)!important;
    padding: 0 16px 0 16px;
}
.meeting-introduction-icon-panel {
    display: flex;
    margin-left: 10px;
    align-items: center;
    font-size: 14px;
}
.meeting-introduction-icon-panel > svg {
    margin-right: 5px;
}
.meeting-introduction-icon-panel {
    margin-bottom: 10px;
}
.card-header {

}
.card-header > div {
    padding-right: 0!important;
}
/* recommended page */
.recommended-panel {
    background-color: white;
}
.st0{fill:#F05125;}
.st1{fill:#7FBB42;}
.st2{fill:#FDB813;}
.st3{fill:#32A0DA;}
.app-header {
    display: flex;
    align-items: center;
    position: -webkit-sticky!important;
    position: sticky!important;
    top:0;
    z-index: 500!important;
}
.icon {
    margin-left: 10px;
    margin-right: 10px;
}
.azure-content {
    padding: 10px;
    display: block;
    overflow: auto;
}
.azure-content-card-style {
    margin-top: 10px;
    margin-bottom: 10px;
}
.free-account-button {
    width: 100%!important;
}
.free-account-button > button {
    background-color: #8BC34A!important;

}
.free-account-button > button > div > div > span {
    text-transform: inherit!important;
    font-size: 18px!important;
}
/* resource page */
.resource-panel {
    background-color: white;
}
.video-screen {
    width: calc(100% - 32px)!important;
    padding: 0 16px 0 16px;
}