@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/* hidden scroll bar */
::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
hr {
  border: 0;
  height: 1px;
  background: #efefef;
}
h1, h2, h3, a, span {
  color: #484848;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #00BCD4;
  margin: 1.5em 10px 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: grey;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
